* text=auto eol=lf
pretrained/** -text !eol whitespace=cr-at-eol
results/reference/** -text !eol whitespace=cr-at-eol
tests/fixtures/*.csv -text !eol whitespace=cr-at-eol
*.pdf -text
*.png -text
*.joblib -text
*.npz -text
